<div id="chatbotlyon3-bubble" class="chatbotlyon3-bubble"></div>
<div id="chatbotlyon3-container" class="chatbotlyon3-container">
  <div class="chatbotlyon3-header">
   <button class="chatbotlyon-btn" id="chatbotlyon3-minimise">_</button>
   <button class="chatbotlyon-btn" id="chatbotlyon3-maximise">[]</button>
   <button class="chatbotlyon-btn" id="chatbotlyon3-close">X</button>
 </div>
 <div>
    <p>Bonjour, je suis Max !</p>
    <form>
        <label for="chatbotlyon3-question">Votre question...</label>
        <input type="text" id="chatbotlyon3-question" name="question">
        <button type="submit" id="chatbotlyon3-send">Envoyer</button>
    </form>
 </div>
</div>